.availableCourses {
  margin: 30px 0px;
}

.courses_table {
  display: grid;
  text-wrap: nowrap;
  margin: 2%;
}

.courses_table_heading,
.courses_table_entries {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr;
  background-color: royalblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  align-items: center;
}

.courses_table_entries {
  background-color: white;
  color: black;
  height: 30px;
}

#table_action svg {
  /* margin: 10px; */
  padding: 0px 10px;
}

#table_action button {
  padding: 1px 2px;
  margin: 2px;
}

.detailsPane {
  margin: 50px 0px;
  box-sizing: border-box;
}

.course_details {
  margin: 2%;
}

.course_details--title {
  font-size: 22px;
  font-weight: 600;
}
