.courses_table {
  display: grid;
  text-wrap: nowrap;
  margin: 2%;
}

.table_heading,
.table_entries {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr;
  background-color: royalblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  align-items: center;
}

.table_entries {
  background-color: white;
  color: black;
  height: 30px;
}

#table_action svg {
  /* margin: 10px; */
  padding: 0px 10px;
}

#table_action button {
  padding: 1px 2px;
  margin: 2px;
}
