.courses_table {
  display: grid;
  text-wrap: nowrap;
  margin: 2%;
}

.table_heading,
.table_entries {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.4fr;
  background-color: royalblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 40px;
  align-items: center;
}

.table_entries {
  background-color: white;
  color: black;
  height: 30px;
}

#table_action svg {
  /* margin: 10px; */
  padding: 0px 10px;
}

#table_action button {
  padding: 1px 2px;
}

.course_form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 5%;
  max-width: 600px;
}

.course_form input {
  height: 30px;
  border-radius: 10px;
  -webkit-padding-start: 10px;
  background-color:rgba(0, 0, 0,0.25);
}

.course_form button {
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: royalblue;
}
